@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(173, 194, 238);
    align-content: center;
    justify-content: center;
}


nav{
    position: sticky;
    font-family: 'Ubuntu','sans-serif';
    color: white;
    background-color: black;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutBlock{
    min-height: 75vh;
    background-color: #41B3A3;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 25px auto;
    width: 80%;
    border-radius: 20px;

    justify-content: space-between;

}

.selector div{
    width: 100%;
    height: 60px;
    background-color: black;
    border-radius: 15px;
    margin: 10px;
    margin-left: 10px;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}


.selector div .clicked{
    background-color: #E27D60;
}



.details{
    height:300px;
    width: 50%;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #E27D60;
    align-items: center;
    display: flex;
    justify-content: center;

}

.details div h1{
    font-family: 'Ubuntu','sans-serif';
    text-align: center;
    align-items: center;
}

.details div{
    font-family: 'Varela Round' , sans-serif;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.details div img{
    height: 60px;
}

.techList{
    list-style-type: decimal;
    color: black;
}

ul{
    list-style-type: none;
    padding-left: 30px;
    font-size: 15px;
    color: white;
}

div a{
    text-decoration: none;
    font-family: 'Varela Round' , sans-serif;
    color: black;
}

a img, a h3{
    vertical-align: middle;
    display: inline-block;
}

#linkedIn{
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center ;
}

footer{
    height: 180px;
    background-color: black;
    cursor: pointer;
    

}

.logoName{
    font-family: 'Ubuntu','sans-serif'; 
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 30px 30px;
}

.lists{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.socialLayer{
    height: 90px;
    background-color: rgb(136, 135, 136);
   
}

.socialLayer section{
    display: flex;
    justify-content:center;
    padding: 15px 10px;
}

.logoName img{
    height: 60px;
}

@media screen and (max-width:600px) {
    nav{
        width:480px;
    }
    footer{
        width: max-content;
        height: max-content;
    }
    .logoName{
        flex-direction: column;
    }
    .aboutBlock{
        width:100%;
        margin-left:40px;
    }
    .selector div{
        width: 80%;
        font-size:15px;   
    }
}





/*.aboutMe{
    margin: 10vh;
    padding:10vh;

    background-color: #E27D60;

}*/

