@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Varela+Round&display=swap');



body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding:0; 
}

nav{
   font-family: 'Ubuntu','sans-serif';  
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aliceblue;
    

}

nav ul li{
    padding: 0 12px;
    
}

nav ul li:hover{
    background-color: dimgray;
}

.content{
    display:none;
    position: absolute;
    background-color:#ddd;
    border-radius: 0 20px 20px;
    min-width: 160px;
    width: max-content;
    box-shadow: 0 8px  16px 0 rgba(0,0,0,0,2);
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.playlist{
    color:black;
    background-color:darkgray;
    border: 1px solid black;
    border-radius: 0 20px 0 20px;
}

.playlist:hover{
    color: aliceblue;
    background-color: black;
    border-radius: 20px;
}


.dropdown:hover .content{
    display: block;
    display: flex;
    flex-direction: column;

}

a{
    font-family: 'Ubuntu','sans-serif';
    text-decoration: none; 
    color: aliceblue;
}


.brand img{
    height: 65px;
    padding: 0 8px;
}
 
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family:'Varela Round' , sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;

    padding: 30px;
    border-radius: 20px;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.container h1 {
    text-shadow: 2px 2px 3px black;
}

.bottom{
    position:sticky;
    height:90px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons i {
    margin: 0 2px;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}

#myProgressBar{
    width: 80vw;
}

.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height:50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0 ;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}

.timeStamp{
    margin: 0 23px;
}

.songInfo{
    position: absolute;
    left: 9vw;
    display: flex;
    align-items: center;
    font-family:'Varela Round' , sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}

.hidden{
    display: none;
}

@media screen and (max-width:600px) {

    nav ul{
        flex-direction: column;
        background-color: black;
        /*width: max-content;*/
        height: max-content;
    }

    .bottom{
        flex-direction: row;
        height:20vh;
        
    }

    nav ul li{
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .songItem{
        font-size: 10px;
        width: 100%;
    }
    #myProgressBar{
        /*height: 150vh;*/
        width: 50vw;
    
    }

    .songInfo{
        display:flex;
        flex-direction: column;
        width: 80px;
        font-size: smaller;

        
    }
    
}

